openapi: 3.2.0
info:
  title: HumanMirror x402 M2M Next-Gen Preview API
  version: 3.3.0
  description: 'HumanMirror Agent-First machine-payment API: M2M infrastructure on Base using x402 V2 and USDC, autonomous agent security, prompt injection defense, AI micro-transactions and non-custodial escrow preview. Granular calls use 0.001 / 0.010 / 0.050 USDC, thematic bundles 5.000 USDC, Enterprise Fleet 297.000 USDC / 30 days, plus the 2027-2030 Next-Gen preview suite at 0.050 USDC per test call.'
  x-keywords:
  - M2M infrastructure on Base
  - x402 payment protocol
  - Autonomous agent security
  - Prompt injection defense
  - AI micro-transactions and escrow
  - Intent-Proof
  - M2M Escrow
  - Consensus-Lock
  - Verified-savings best execution
  - Execution Market
  - provider competition
  x-guidance: Use HumanMirror x402 routes for deterministic payment compatibility, safety preflight, and execution verification. Start without PAYMENT-SIGNATURE to receive the x402 challenge, then retry with a valid Base/USDC payment. For the lowest-friction entry point, use /api/x402/payment-compatibility-receipt/ to validate a payment shape; use /api/x402/safe-preflight/ before consequential agent actions.
servers:
- url: https://humanmirror.fr
tags:
- name: M2M Next-Gen Preview
  description: HumanMirror Next-Gen / Pack Futur — pre-launch 2027-2030 routes. 0.050 USDC per test call, included in Enterprise Fleet and available as Preview for HumanMirror Pro.
paths:
  /v1/agent/intent-proof/:
    post:
      tags:
      - M2M Next-Gen Preview
      operationId: humanmirrorNextGenIntentProof
      summary: Intent Proof — Passport of Intent
      description: Analyze an untrusted agent payload for prompt-injection risk and issue a signed safe-routing certificate. The non-malice score is a risk signal, not a guarantee of benign intent.
      x-humanmirror-status: preview_2027_2030
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-pricing-tier: granular_unit_0_050
      x-humanmirror-access:
        x402_test_call: 0.050 USDC
        enterprise_fleet: included
        humanmirror_pro: preview included
      x-x402:
        version: 2
        scheme: exact
        network: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
        amount: '50000'
        requestHeader: PAYMENT-SIGNATURE
        challengeHeader: PAYMENT-REQUIRED
        settlementHeader: PAYMENT-RESPONSE
      security:
      - HumanMirrorProApiKey: []
      - EnterpriseBearer: []
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit to receive PAYMENT-REQUIRED when no Pro/Enterprise credential is supplied.
      - name: X-API-Key
        in: header
        required: false
        schema:
          type: string
        description: HumanMirror Pro Preview access.
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Bearer Enterprise Fleet pass.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - payload
              properties:
                payload: {}
                context:
                  type: object
                policy:
                  type: object
      responses:
        '200':
          description: Next-Gen preview result
          headers:
            X-HumanMirror-Provenance:
              description: Cryptographic provenance token
              schema:
                type: string
            X-HumanMirror-Trace:
              description: Stable route trace digest
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid preview input
        '401':
          description: Invalid HumanMirror Pro API key
        '402':
          description: Payment Required — 0.050 USDC on Base mainnet or Pro quota exhausted
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements
              schema:
                type: string
        '403':
          description: HumanMirror Pro or Enterprise access required for credentialed preview
        '503':
          description: Payment, usage or preview infrastructure unavailable
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.050'
        protocols:
        - x402: {}
  /v1/fleet/consensus-lock/:
    post:
      tags:
      - M2M Next-Gen Preview
      operationId: humanmirrorNextGenConsensusLock
      summary: Fleet Consensus Lock — Fleet Tribunal
      description: Arbitrate 2-12 caller-supplied model decisions with deterministic confidence/weight scoring and issue a signed execution receipt.
      x-humanmirror-status: preview_2027_2030
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-pricing-tier: granular_unit_0_050
      x-humanmirror-access:
        x402_test_call: 0.050 USDC
        enterprise_fleet: included
        humanmirror_pro: preview included
      x-x402:
        version: 2
        scheme: exact
        network: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
        amount: '50000'
        requestHeader: PAYMENT-SIGNATURE
        challengeHeader: PAYMENT-REQUIRED
        settlementHeader: PAYMENT-RESPONSE
      security:
      - HumanMirrorProApiKey: []
      - EnterpriseBearer: []
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit to receive PAYMENT-REQUIRED when no Pro/Enterprise credential is supplied.
      - name: X-API-Key
        in: header
        required: false
        schema:
          type: string
        description: HumanMirror Pro Preview access.
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Bearer Enterprise Fleet pass.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - models
              properties:
                models:
                  type: array
                  minItems: 2
                  maxItems: 12
                  items:
                    type: object
                lock_threshold:
                  type: number
                  minimum: 0
                  maximum: 1
      responses:
        '200':
          description: Next-Gen preview result
          headers:
            X-HumanMirror-Provenance:
              description: Cryptographic provenance token
              schema:
                type: string
            X-HumanMirror-Trace:
              description: Stable route trace digest
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid preview input
        '401':
          description: Invalid HumanMirror Pro API key
        '402':
          description: Payment Required — 0.050 USDC on Base mainnet or Pro quota exhausted
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements
              schema:
                type: string
        '403':
          description: HumanMirror Pro or Enterprise access required for credentialed preview
        '503':
          description: Payment, usage or preview infrastructure unavailable
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.050'
        protocols:
        - x402: {}
  /v1/m2m/escrow-settle/:
    post:
      tags:
      - M2M Next-Gen Preview
      operationId: humanmirrorNextGenEscrowSettle
      summary: Escrow Settle — Smart Escrow Preview
      description: 'Evaluate quality checks and issue RELEASE, REFUND or REVIEW plus an x402-escrow-v1 state envelope. This is a non-custodial preview: HumanMirror does not hold or move third-party funds and does not claim FUNDS_LOCKED without independently verified custody evidence.'
      x-humanmirror-status: preview_2027_2030
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-pricing-tier: granular_unit_0_050
      x-humanmirror-access:
        x402_test_call: 0.050 USDC
        enterprise_fleet: included
        humanmirror_pro: preview included
      x-x402:
        version: 2
        scheme: exact
        network: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
        amount: '50000'
        requestHeader: PAYMENT-SIGNATURE
        challengeHeader: PAYMENT-REQUIRED
        settlementHeader: PAYMENT-RESPONSE
      security:
      - HumanMirrorProApiKey: []
      - EnterpriseBearer: []
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit to receive PAYMENT-REQUIRED when no Pro/Enterprise credential is supplied.
      - name: X-API-Key
        in: header
        required: false
        schema:
          type: string
        description: HumanMirror Pro Preview access.
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Bearer Enterprise Fleet pass.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - checks
              properties:
                escrow_reference:
                  type: string
                checks:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: object
                release_threshold:
                  type: number
                  minimum: 0
                  maximum: 1
                escrow_id:
                  type: string
                  description: Alias of escrow_reference for x402-escrow-v1 clients.
                amount_usdc:
                  type: number
                  minimum: 0
                  description: Optional escrow amount metadata. This does not lock funds.
                payer_agent:
                  type: string
                worker_agent:
                  type: string
                release_condition:
                  type: string
                  default: PROOF_OF_EXECUTION_VERIFIED
              anyOf:
              - required:
                - escrow_reference
              - required:
                - escrow_id
      responses:
        '200':
          description: Next-Gen preview result with signed settlement receipt and x402-escrow-v1 state envelope.
          headers:
            X-HumanMirror-Provenance:
              description: Cryptographic provenance token
              schema:
                type: string
            X-HumanMirror-Trace:
              description: Stable route trace digest
              schema:
                type: string
            X-HumanMirror-Escrow-Protocol:
              description: Escrow state protocol identifier
              schema:
                type: string
                const: x402-escrow-v1
            X-HumanMirror-Escrow-Manifest:
              description: Escrow machine manifest
              schema:
                type: string
                format: uri
            X-HumanMirror-Escrow-Schema:
              description: Escrow state JSON Schema
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid preview input
        '401':
          description: Invalid HumanMirror Pro API key
        '402':
          description: Payment Required — 0.050 USDC on Base mainnet or Pro quota exhausted
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements
              schema:
                type: string
        '403':
          description: HumanMirror Pro or Enterprise access required for credentialed preview
        '503':
          description: Payment, usage or preview infrastructure unavailable
      x-humanmirror-escrow-protocol: x402-escrow-v1
      x-humanmirror-escrow-manifest: https://humanmirror.fr/.well-known/escrow.json
      x-humanmirror-escrow-schema: https://humanmirror.fr/schemas/escrow-v1.json
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.050'
        protocols:
        - x402: {}
  /v1/agent/state-and-trust/:
    post:
      tags:
      - M2M Next-Gen Preview
      operationId: humanmirrorAgentOsStateAndTrust
      summary: Agent OS — State & Trust Proof
      description: Sign a SHA-256 agent state, verify exact continuity against an optional previous state hash, and issue a scoped trust and automation signal. Exact hash continuity is not semantic-vector distance.
      x-humanmirror-status: preview_2027_2030
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-pricing-tier: granular_unit_0_050
      x-humanmirror-access:
        x402_test_call: 0.050 USDC
        enterprise_fleet: included
        humanmirror_pro: preview included
      x-x402:
        version: 2
        scheme: exact
        network: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
        amount: '50000'
        requestHeader: PAYMENT-SIGNATURE
        challengeHeader: PAYMENT-REQUIRED
        settlementHeader: PAYMENT-RESPONSE
      security:
      - HumanMirrorProApiKey: []
      - EnterpriseBearer: []
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit to receive PAYMENT-REQUIRED when no Pro/Enterprise credential is supplied.
      - name: X-API-Key
        in: header
        required: false
        schema:
          type: string
        description: HumanMirror Pro Preview access.
      - name: Authorization
        in: header
        required: false
        schema:
          type: string
        description: Bearer Enterprise Fleet pass.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - current_state_hash
              properties:
                agent_id:
                  type: string
                  minLength: 1
                  maxLength: 160
                previous_vector:
                  type: string
                  pattern: ^(0x)?[0-9a-fA-F]{64}$
                current_state_hash:
                  type: string
                  pattern: ^(0x)?[0-9a-fA-F]{64}$
              additionalProperties: false
      responses:
        '200':
          description: Next-Gen preview result
          headers:
            X-HumanMirror-Provenance:
              description: Cryptographic provenance token
              schema:
                type: string
            X-HumanMirror-Trace:
              description: Stable route trace digest
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: Invalid preview input
        '401':
          description: Invalid HumanMirror Pro API key
        '402':
          description: Payment Required — 0.050 USDC on Base mainnet or Pro quota exhausted
          headers:
            PAYMENT-REQUIRED:
              description: Base64-encoded x402 v2 payment requirements
              schema:
                type: string
        '403':
          description: HumanMirror Pro or Enterprise access required for credentialed preview
        '503':
          description: Payment, usage or preview infrastructure unavailable
      x-payment-info:
        price:
          mode: fixed
          currency: USD
          amount: '0.050'
        protocols:
        - x402: {}
components:
  securitySchemes:
    HumanMirrorProApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Active HumanMirror Pro API key. Grants Next-Gen Preview access subject to the Pro monthly API quota.
    EnterpriseBearer:
      type: http
      scheme: bearer
      bearerFormat: hmep1
      description: Active HumanMirror Enterprise Fleet pass. Next-Gen Preview is included.
    OmniSyncApiKey:
      type: http
      scheme: bearer
      bearerFormat: hm_omni_*
      description: HumanMirror Omni-Sync API key. One credit per Shared Context operation when credits are available.
externalDocs:
  description: HumanMirror — The Agent Economy (2027-2030) technical lexicon
  url: https://humanmirror.fr/future/
x-humanmirror-agent-manifest: https://humanmirror.fr/.well-known/agent-manifest.json
x-humanmirror-canonical-endpoints:
- id: security-intelligence
  url: https://humanmirror.fr/api/v1/agent/security-intelligence/
  price_usdc: '5.000'
  billing_unit: bundle
- id: data-quality
  url: https://humanmirror.fr/api/v1/agent/data-quality/
  price_usdc: '5.000'
  billing_unit: bundle
- id: verification
  url: https://humanmirror.fr/api/v1/agent/verification/
  price_usdc: '5.000'
  billing_unit: bundle
- id: operations
  url: https://humanmirror.fr/api/v1/agent/operations/
  price_usdc: '5.000'
  billing_unit: bundle
- id: enterprise-fleet
  url: https://humanmirror.fr/api/x402/enterprise-pass/
  price_usdc: '297.000'
  billing_unit: 30_days
x-humanmirror-pricing-ladder:
  granular_unit_tiers_usdc:
  - '0.001'
  - '0.010'
  - '0.050'
  thematic_bundle_usdc: '5.000'
  enterprise_fleet_usdc: '297.000'
x-humanmirror-next-gen-endpoints:
- id: next_gen_intent_proof
  url: https://humanmirror.fr/v1/agent/intent-proof/
  status: preview_2027_2030
  price_usdc: '0.050'
  enterprise_included: true
  pro_preview: true
- id: next_gen_consensus_lock
  url: https://humanmirror.fr/v1/fleet/consensus-lock/
  status: preview_2027_2030
  price_usdc: '0.050'
  enterprise_included: true
  pro_preview: true
- id: next_gen_escrow_settle
  url: https://humanmirror.fr/v1/m2m/escrow-settle/
  status: preview_2027_2030
  price_usdc: '0.050'
  enterprise_included: true
  pro_preview: true
x-humanmirror-provenance:
  owner: HumanMirror
  scheme: zero-width+HMAC-SHA256
  watermark_sha256: 8cf2f98bdc78f5034d0fc568f119d07fe18f884c4384d5df43d486e5659e9592
x-humanmirror-agent-first:
  future_lexicon: https://humanmirror.fr/future/
  llms: https://humanmirror.fr/llms.txt
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  mcp: https://humanmirror.fr/api/x402/mcp/
x-humanmirror-core-products:
  shared_context:
    endpoint: https://humanmirror.fr/v1/agent/shared-context/
    manifest: https://humanmirror.fr/.well-known/shared-context.json
    price_usdc: '0.010'
    stripe_credits: true
  perception_behavior_vector:
    endpoint: https://humanmirror.fr/v1/agent/perception-vector/
    manifest: https://humanmirror.fr/.well-known/perception-behavior.json
    price_usdc: '0.050'
    privacy_mode: aggregate_cohort_only
x-humanmirror-global-enterprise:
  version: 2026-09-04-v1
  manifest: https://humanmirror.fr/.well-known/global-enterprise.json
  profile_endpoint: https://humanmirror.fr/api/v1/global-enterprise/profile/
  billing_capabilities: https://humanmirror.fr/api/v1/global-enterprise/billing-capabilities/
  headers:
  - X-Industry-Profile
  - X-Jurisdiction
  - X-Billing-Currency
  built_in_profiles:
  - finance
  - pharma
  - retail
  - logistics
  - tech
  - entertainment
  custom_profiles: true
  compatibility: additive_no_header_no_behavior_change
  compliance_assurance: policy_guardrails_not_legal_certification
x-humanmirror-paid-retry:
  protocol: payment-bound-idempotency/1
  header: Idempotency-Key
  identity: method + canonical route + request-body digest + exact payment-authorization digest
  scope: canonical paid x402 POST routes
  replay_header: X-HumanMirror-Idempotent-Replay
  completed_replay_ttl_seconds: 86400
  processing_lock_ttl_seconds: 300
  semantics:
    exact_retry: returns the original verified successful response without a second execution or settlement
    altered_body: conflict; never replays unrelated output
    fresh_payment_authorization: new payment intent even if the Idempotency-Key is reused
    failed_execution_or_settlement: not committed as a successful replay
x-humanmirror-best-execution:
  protocol: hm-best-execution/1
  fee_model: verified_savings_share
  savings_share_bps: 3000
  buyer_keeps_share_bps: 7000
  quote_ttl_seconds: 120
  provider_payment: external_non_custodial
  manifest: https://humanmirror.fr/.well-known/intent-market.json
x-x402:
  payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
  asset: USDC
  network: eip155:8453
