openapi: 3.2.0
info:
  title: HumanMirror Agent OS Value API
  version: 1.0.0
  description: Machine-native Proof-of-State and exact SHA-256 state-continuity verification with scoped trust/automation signals. Paid execution uses x402 V2 with USDC on Base mainnet.
servers:
- url: https://humanmirror.fr
tags:
- name: Value
paths:
  /api/value/resolve/:
    get:
      summary: Discover HumanMirror Universal Value Resolver
      responses:
        '200':
          description: HUVP discovery and rail status.
      tags:
      - Value
      operationId: getApiValueResolve
      x-operation-id-source: derived
    post:
      summary: Normalize value intent and select a compatible live rail
      operationId: resolveUniversalValueIntent
      description: Applies HUVP normalization, Value Firewall policy and safe live-rail routing. Returns a fee quote; it does not fabricate settlement.
      responses:
        '200':
          description: Normalized intent, firewall decision, route and fee policy.
        '400':
          description: Invalid intent.
        '403':
          description: Policy blocked the transaction.
      tags:
      - Value
  /api/value/firewall/:
    post:
      summary: Evaluate transaction policy before routing
      operationId: evaluateValueFirewall
      responses:
        '200':
          description: ALLOW, REVIEW or BLOCK policy result.
      tags:
      - Value
  /api/value/receipt/:
    post:
      summary: Create a signed caller-attested universal receipt
      operationId: createUniversalValueReceipt
      description: Caller-attested receipts are kept distinct from authoritative verified settlement receipts.
      responses:
        '200':
          description: Signed HUVP receipt.
        '400':
          description: Transaction reference required.
      tags:
      - Value
externalDocs:
  description: HumanMirror Agent OS discovery manifest
  url: https://humanmirror.fr/.well-known/agent-os.json
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
