openapi: 3.2.0
info:
  title: Humanmirror Fr Lens API
  version: 1.0.0
  description: 'Operations tagged Lens across 2 of this provider''s published API definitions: humanmirror-fr-agentops-openapi.json, humanmirror-fr-agentops-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Lens
paths:
  /api/lens/infer:
    post:
      summary: Infer a JSON contract
      security:
      - NexusBearer: []
      responses:
        '200':
          description: Inferred contract
      tags:
      - Lens
      operationId: postApiLensInfer
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/lens/diff:
    post:
      summary: Detect breaking JSON contract changes
      security:
      - NexusBearer: []
      responses:
        '200':
          description: Contract diff
      tags:
      - Lens
      operationId: postApiLensDiff
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    NexusBearer:
      type: http
      scheme: bearer
      bearerFormat: hm_nexus_*
x-refined-from:
- humanmirror-fr-agentops-openapi.json
- humanmirror-fr-agentops-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
