openapi: 3.2.0
info:
  title: Humanmirror Fr Trace API
  version: 1.0.0
  description: 'Operations tagged Trace across 2 of this provider''s published API definitions: humanmirror-fr-agentops-openapi.json, humanmirror-fr-agentops-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Trace
paths:
  /api/trace/issue:
    post:
      summary: Issue a verifiable Trace receipt
      security:
      - NexusBearer: []
      responses:
        '200':
          description: Receipt issued
        '401':
          description: Invalid Nexus key
        '402':
          description: Insufficient credits
      tags:
      - Trace
      operationId: postApiTraceIssue
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/trace/verify:
    get:
      summary: Verify whether a Trace receipt exists
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Receipt exists
        '404':
          description: Receipt not found
      tags:
      - Trace
      operationId: getApiTraceVerify
      x-operation-id-source: derived
    post:
      summary: Verify a Trace receipt and optionally compare supplied payload hashes
      responses:
        '200':
          description: Verification result
        '404':
          description: Receipt not found
      tags:
      - Trace
      operationId: postApiTraceVerify
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    NexusBearer:
      type: http
      scheme: bearer
      bearerFormat: hm_nexus_*
x-refined-from:
- humanmirror-fr-agentops-openapi.json
- humanmirror-fr-agentops-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
