openapi: 3.2.0
info:
  title: Humanmirror Fr Value API
  version: 1.0.0
  description: 'Operations tagged Value across 2 of this provider''s published API definitions: humanmirror-fr-agent-os-openapi.json, humanmirror-fr-agent-os-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Value
paths:
  /api/value/resolve/:
    get:
      summary: Discover HumanMirror Universal Value Resolver
      responses:
        '200':
          description: HUVP discovery and rail status.
      tags:
      - Value
      operationId: getApiValueResolve
      x-operation-id-source: derived
    post:
      summary: Normalize value intent and select a compatible live rail
      operationId: resolveUniversalValueIntent
      description: Applies HUVP normalization, Value Firewall policy and safe live-rail routing. Returns a fee quote; it does not fabricate settlement.
      responses:
        '200':
          description: Normalized intent, firewall decision, route and fee policy.
        '400':
          description: Invalid intent.
        '403':
          description: Policy blocked the transaction.
      tags:
      - Value
    servers:
    - url: https://humanmirror.fr
  /api/value/firewall/:
    post:
      summary: Evaluate transaction policy before routing
      operationId: evaluateValueFirewall
      responses:
        '200':
          description: ALLOW, REVIEW or BLOCK policy result.
      tags:
      - Value
    servers:
    - url: https://humanmirror.fr
  /api/value/receipt/:
    post:
      summary: Create a signed caller-attested universal receipt
      operationId: createUniversalValueReceipt
      description: Caller-attested receipts are kept distinct from authoritative verified settlement receipts.
      responses:
        '200':
          description: Signed HUVP receipt.
        '400':
          description: Transaction reference required.
      tags:
      - Value
    servers:
    - url: https://humanmirror.fr
externalDocs:
  description: HumanMirror Agent OS discovery manifest
  url: https://humanmirror.fr/.well-known/agent-os.json
x-refined-from:
- humanmirror-fr-agent-os-openapi.json
- humanmirror-fr-agent-os-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
