openapi: 3.2.0
info:
  title: Humanmirror Fr One API
  version: 1.0.0
  description: 'Operations tagged One across 2 of this provider''s published API definitions: humanmirror-fr-one-openapi.json, humanmirror-fr-one-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: One
paths:
  /api/one/run/:
    post:
      summary: Quote or execute through HumanMirror One
      security:
      - {}
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              properties:
                dry_run:
                  type: boolean
                objective:
                  type: string
                outcome_type:
                  type: string
                contract_id:
                  type: string
                input: {}
                criteria:
                  type: object
                options:
                  type: object
      responses:
        '200':
          description: Free quote or verified success
        '400':
          description: Execution/verification failed and credits refunded
        '401':
          description: Missing or invalid Nexus key for execution
      tags:
      - One
      operationId: postApiOneRun
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/one/mcp/:
    post:
      summary: Single-tool MCP JSON-RPC endpoint
      security:
      - {}
      - BearerAuth: []
      responses:
        '200':
          description: MCP response
      tags:
      - One
      operationId: postApiOneMcp
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hm_nexus_*
x-refined-from:
- humanmirror-fr-one-openapi.json
- humanmirror-fr-one-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
