openapi: 3.2.0
info:
  title: Humanmirror Fr Outcome API
  version: '1.0'
  description: 'Operations tagged Outcome across 4 of this provider''s published API definitions: humanmirror-fr-nexus-openapi.json, humanmirror-fr-outcome-openapi.json, humanmirror-fr-nexus-openapi.yml, humanmirror-fr-outcome-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Outcome
paths:
  /api/outcome/quote/:
    post:
      summary: Create a free HumanMirror Outcome contract
      responses:
        '200':
          description: Outcome quote
      tags:
      - Outcome
      operationId: postApiOutcomeQuote
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/outcome/run/:
    post:
      summary: Execute an Outcome and keep the charge only on verified success
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Verified Outcome success
        '400':
          description: Failed execution or verification; credits refunded
      tags:
      - Outcome
      operationId: postApiOutcomeRun
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/outcome/verify/:
    post:
      summary: Free deterministic Outcome verification
      responses:
        '200':
          description: Outcome verification result
      tags:
      - Outcome
      operationId: postApiOutcomeVerify
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/outcome/stats/:
    get:
      summary: Public aggregated Outcome success statistics
      responses:
        '200':
          description: Aggregated statistics
      tags:
      - Outcome
      operationId: getApiOutcomeStats
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hm_nexus_*
x-refined-from:
- humanmirror-fr-nexus-openapi.json
- humanmirror-fr-outcome-openapi.json
- humanmirror-fr-nexus-openapi.yml
- humanmirror-fr-outcome-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
