openapi: 3.2.0
info:
  title: Humanmirror Fr X402 API
  version: 3.2.0
  x-keywords:
  - M2M infrastructure on Base
  - x402 payment protocol
  - Autonomous agent security
  - Prompt injection defense
  - AI micro-transactions and escrow
  - Intent-Proof
  - M2M Escrow
  - Consensus-Lock
  description: 'Operations tagged X402 across 2 of this provider''s published API definitions: humanmirror-fr-x402-openapi.json, humanmirror-fr-x402-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: X402
paths:
  /api/x402/outcome/:
    post:
      operationId: humanmirrorX402Outcome
      summary: Buy one deterministic verified outcome
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive payment requirements.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                outcome_type:
                  type: string
                  enum:
                  - clean_json
                  - deduplicate_records
                  - normalize_entity
                  - data_quality_at_least
                  - detect_anomalies
                  - no_secrets
                  - output_quality
                  - schema_compatible
                  - safe_preflight
                  - execution_receipt
                objective:
                  type: string
                input: {}
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required; inspect PAYMENT-REQUIRED header
        '422':
          description: Execution or deterministic verification failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/one/:
    post:
      operationId: humanmirrorX402One
      summary: Buy one minimal verified-result call
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                outcome_type:
                  type: string
                objective:
                  type: string
                input: {}
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
      responses:
        '200':
          description: Verified result
        '402':
          description: Payment required
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/flow/:
    post:
      operationId: humanmirrorX402Flow
      summary: Buy a verified 2–3 step deterministic mission
      description: 'Granular unit route at 0.050 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                steps:
                  type: array
                  minItems: 2
                  maxItems: 3
                  items:
                    type: object
                    properties:
                      outcome_type:
                        type: string
                      objective:
                        type: string
                      input_from:
                        type: string
                        enum:
                        - explicit
                        - previous
                      input: {}
                      criteria:
                        type: object
                      options:
                        type: object
              required:
              - steps
      responses:
        '200':
          description: Verified mission result
        '402':
          description: Payment required
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-pricing-tier: granular_unit_0_050
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/clean-json/:
    post:
      operationId: humanmirrorX402CleanJson
      summary: Clean and canonicalize JSON
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/deduplicate-records/:
    post:
      operationId: humanmirrorX402DeduplicateRecords
      summary: Remove duplicate JSON records
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/normalize-entity/:
    post:
      operationId: humanmirrorX402NormalizeEntity
      summary: Normalize entity identifiers
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/data-quality/:
    post:
      operationId: humanmirrorX402DataQuality
      summary: Verify a data-quality threshold
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/anomaly-detection/:
    post:
      operationId: humanmirrorX402AnomalyDetection
      summary: Detect numeric anomalies
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/secret-scanning/:
    post:
      operationId: humanmirrorX402SecretScanning
      summary: Scan API keys, tokens, private keys and credentials before deploy
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: Text, source code, JSON, config, logs or AI-agent tool output to scan for API keys, access tokens, private keys, passwords and credential-like secrets.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/output-quality/:
    post:
      operationId: humanmirrorX402OutputQuality
      summary: Apply an AI-output quality gate
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/schema-compatibility/:
    post:
      operationId: humanmirrorX402SchemaCompatibility
      summary: Check JSON schema compatibility
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: JSON-serializable input for this deterministic outcome.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/safe-preflight/:
    post:
      operationId: humanmirrorX402SafePreflight
      summary: Preflight a command before an AI agent executes it
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: Command, tool call or structured proposed action to preflight before an AI agent executes it.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/execution-receipt/:
    post:
      operationId: humanmirrorX402ExecutionReceipt
      summary: Create a cryptographic execution receipt for an agent tool call
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/verification/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  description: Executed agent tool-call input/output pair to bind into a verifiable cryptographic execution receipt.
                criteria:
                  type: object
                options:
                  type: object
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Verified result after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Execution or deterministic verification failed; no settlement
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/verification/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-decision/:
    post:
      operationId: humanmirrorX402AutomataDecision
      summary: Buy a deterministic Automata recovery decision
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                automaton_slug:
                  type: string
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              required:
              - automaton_slug
              additionalProperties: false
      responses:
        '200':
          description: Decision returned after successful x402 settlement
        '402':
          description: Payment required
        '422':
          description: Decision execution failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-annual-renewal-guard/:
    post:
      operationId: humanmirrorX402AnnualRenewalGuard
      summary: Buy Annual Renewal Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-broken-link-rescue/:
    post:
      operationId: humanmirrorX402BrokenLinkRescue
      summary: Buy Broken Link Rescue machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-cart-glitch-shield/:
    post:
      operationId: humanmirrorX402CartGlitchShield
      summary: Buy Cart Glitch Shield machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-chargeback-shield/:
    post:
      operationId: humanmirrorX402ChargebackShield
      summary: Buy Chargeback Shield machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-checkout-link-guard/:
    post:
      operationId: humanmirrorX402CheckoutLinkGuard
      summary: Buy Checkout Link Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-cloud-credit-optimizer/:
    post:
      operationId: humanmirrorX402CloudCreditOptimizer
      summary: Buy Cloud Credit Optimizer machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-cloud-migration-watchdog/:
    post:
      operationId: humanmirrorX402CloudMigrationWatchdog
      summary: Buy Cloud Migration Watchdog machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-db-bloat-guard/:
    post:
      operationId: humanmirrorX402DbBloatGuard
      summary: Buy DB Bloat Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-deliverability-failover/:
    post:
      operationId: humanmirrorX402DeliverabilityFailover
      summary: Buy Deliverability Failover machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-dependency-autohealer/:
    post:
      operationId: humanmirrorX402DependencyAutohealer
      summary: Buy Dependency Auto-Healer machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-digital-asset-guard/:
    post:
      operationId: humanmirrorX402DigitalAssetGuard
      summary: Buy Digital Asset Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-fx-cost-optimizer/:
    post:
      operationId: humanmirrorX402FxCostOptimizer
      summary: Buy FX Cost Optimizer machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-inventory-sync-sentinel/:
    post:
      operationId: humanmirrorX402InventorySyncSentinel
      summary: Buy Inventory Sync Sentinel machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-invoice-recovery/:
    post:
      operationId: humanmirrorX402InvoiceRecovery
      summary: Buy Invoice Recovery Bot machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-invoice-syntax-sentinel/:
    post:
      operationId: humanmirrorX402InvoiceSyntaxSentinel
      summary: Buy Invoicing Syntax Sentinel machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-kyc-rescue/:
    post:
      operationId: humanmirrorX402KycRescue
      summary: Buy KYC Rescue Desk machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-lead-drop-shield/:
    post:
      operationId: humanmirrorX402LeadDropShield
      summary: Buy Lead Drop Shield machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-reputation-guard/:
    post:
      operationId: humanmirrorX402ReputationGuard
      summary: Buy Brand Reputation Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-secops-autopatch/:
    post:
      operationId: humanmirrorX402SecopsAutopatch
      summary: Buy SecOps Auto-Patch machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-seo-domain-watch/:
    post:
      operationId: humanmirrorX402SeoDomainWatch
      summary: Buy SEO Domain Watch machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-smart-dunning/:
    post:
      operationId: humanmirrorX402SmartDunning
      summary: Buy Smart Dunning machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-tax-ledger/:
    post:
      operationId: humanmirrorX402TaxLedger
      summary: Buy Tax Ledger Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-uptime-panic-guard/:
    post:
      operationId: humanmirrorX402UptimePanicGuard
      summary: Buy SSL & Uptime Panic Guard machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-vat-recovery/:
    post:
      operationId: humanmirrorX402VatRecovery
      summary: Buy VAT Recovery Draft machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-webhook-dead-letter/:
    post:
      operationId: humanmirrorX402WebhookDeadLetter
      summary: Buy Webhook Dead-Letter Office machine preflight
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid Automata decision returned
        '402':
          description: Payment required
        '422':
          description: Decision failed; payment is not settled
        '503':
          description: Facilitator or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-autonomous-escrow-agent/:
    post:
      operationId: humanmirrorX402AutonomousEscrowAgent
      summary: Buy Autonomous Escrow Agent
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment is not settled
        '503':
          description: Dependency or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-api-break-sentinel/:
    post:
      operationId: humanmirrorX402ApiBreakSentinel
      summary: Buy API Break Sentinel
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment is not settled
        '503':
          description: Dependency or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-global-ai-tax-proxy/:
    post:
      operationId: humanmirrorX402GlobalAiTaxProxy
      summary: Buy Global AI Tax Proxy
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment is not settled
        '503':
          description: Dependency or settlement unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-ghost-cart-form-rescue/:
    post:
      operationId: humanmirrorX402GhostCartFormRescue
      summary: Buy Ghost Cart & Form Rescue
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-data-brokerage-automate/:
    post:
      operationId: humanmirrorX402DataBrokerageAutomate
      summary: Buy Data Brokerage Automate
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-expired-domain-opportunity-watch/:
    post:
      operationId: humanmirrorX402ExpiredDomainOpportunityWatch
      summary: Buy Expired Domain Opportunity Watch
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                event_type:
                  type: string
                connectors:
                  type: array
                  items:
                    type: string
                context:
                  type: object
              additionalProperties: false
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-media-kit-generator/:
    post:
      operationId: humanmirrorX402MediaKitGenerator
      summary: Buy Media Kit Generator
      description: 'Legacy compatibility route. Effective paid x402 floor: 5.000 USDC on Base mainnet. Prefer canonical bundle: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: true
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '5.000'
      x-humanmirror-pricing-tier: thematic_bundle
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-clean-ex/:
    post:
      operationId: humanmirrorX402CleanEx
      summary: Buy Clean-Ex
      description: 'Granular unit route at 0.001 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.001'
      x-humanmirror-pricing-tier: granular_unit_0_001
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-price-sniper/:
    post:
      operationId: humanmirrorX402PriceSniper
      summary: Buy Price Sniper
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-proof-of-vibe/:
    post:
      operationId: humanmirrorX402ProofOfVibe
      summary: Buy Proof-of-Vibe
      description: 'Granular unit route at 0.001 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.001'
      x-humanmirror-pricing-tier: granular_unit_0_001
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-dead-bot-switch/:
    post:
      operationId: humanmirrorX402DeadBotSwitch
      summary: Buy Dead-Bot Switch
      description: 'Granular unit route at 0.010 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.010'
      x-humanmirror-pricing-tier: granular_unit_0_010
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/automata-context-compressor-sanitizer/:
    post:
      operationId: humanmirrorX402ContextCompressorSanitizer
      summary: Buy Context Compressor & Sanitizer
      description: 'Granular unit route at 0.001 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/operations/'
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 V2 signed payment payload. Omit on first request to receive PAYMENT-REQUIRED.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
              additionalProperties: true
      responses:
        '200':
          description: Paid machine result returned
        '402':
          description: Payment required
        '422':
          description: Execution failed; payment not settled
        '503':
          description: Dependency unavailable
      deprecated: false
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/operations/
      x-humanmirror-price-usdc: '0.001'
      x-humanmirror-pricing-tier: granular_unit_0_001
      tags:
      - X402
    servers:
    - url: https://humanmirror.fr
  /api/x402/emergency-pack/:
    get:
      summary: Inspect HumanMirror Emergency 10
      responses:
        '200':
          description: Emergency pack purchase terms
      deprecated: true
      description: 'Legacy compatibility route. Effective paid x402 floor: 5.000 USDC on Base mainnet. Prefer canonical bundle: https://humanmirror.fr/api/v1/agent/security-intelligence/'
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/security-intelligence/
      x-humanmirror-price-usdc: '5.000'
      x-humanmirror-pricing-tier: thematic_bundle
      tags:
      - X402
      operationId: getApiX402EmergencyPack
      x-operation-id-source: derived
    post:
      summary: Purchase 10 emergency core calls
      description: 'Legacy compatibility route. Effective paid x402 floor: 5.000 USDC on Base mainnet. Prefer canonical bundle: https://humanmirror.fr/api/v1/agent/security-intelligence/'
      responses:
        '200':
          description: Emergency pack activated after successful settlement.
        '402':
          description: x402 V2 Base/USDC authorization required.
        '503':
          description: Settlement or activation unavailable.
      deprecated: true
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/security-intelligence/
      x-humanmirror-price-usdc: '5.000'
      x-humanmirror-pricing-tier: thematic_bundle
      tags:
      - X402
      operationId: postApiX402EmergencyPack
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    HumanMirrorProApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Active HumanMirror Pro API key. Grants Next-Gen Preview access subject to the Pro monthly API quota.
    EnterpriseBearer:
      type: http
      scheme: bearer
      bearerFormat: hmep1
      description: Active HumanMirror Enterprise Fleet pass. Next-Gen Preview is included.
    OmniSyncApiKey:
      type: http
      scheme: bearer
      bearerFormat: hm_omni_*
      description: HumanMirror Omni-Sync API key. One credit per Shared Context operation when credits are available.
externalDocs:
  description: HumanMirror — The Agent Economy (2027-2030) technical lexicon
  url: https://humanmirror.fr/future/
x-refined-from:
- humanmirror-fr-x402-openapi.json
- humanmirror-fr-x402-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
