openapi: 3.2.0
info:
  title: Humanmirror Fr Forge API
  version: 1.0.0
  description: 'Operations tagged Forge across 2 of this provider''s published API definitions: humanmirror-fr-forge-openapi.json, humanmirror-fr-forge-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Forge
paths:
  /api/forge:
    get:
      summary: Get Forge service metadata and optional authenticated balance
      security:
      - {}
      - BearerAuth: []
      responses:
        '200':
          description: Forge service metadata
      tags:
      - Forge
      operationId: getApiForge
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/forge/trial:
    post:
      summary: Create a 25-credit trial API key
      responses:
        '201':
          description: Trial key created
        '409':
          description: Trial already used for this network origin
      tags:
      - Forge
      operationId: postApiForgeTrial
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/forge/run:
    post:
      summary: Run a Forge micro-tool
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgeRun'
      responses:
        '200':
          description: Tool result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgeSuccess'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForgeError'
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
        '429':
          description: Rate limited
      tags:
      - Forge
      operationId: postApiForgeRun
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  schemas:
    ForgeError:
      type: object
      required:
      - ok
      - version
      - error
      properties:
        ok:
          const: false
        version:
          type: string
        request_id:
          type:
          - string
          - 'null'
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
    ForgeSuccess:
      type: object
      required:
      - ok
      - version
      - request_id
      - tool
      - result
      - usage
      properties:
        ok:
          const: true
        version:
          type: string
        request_id:
          type: string
        tool:
          type: string
        result:
          type: object
        usage:
          type: object
          properties:
            credits_used:
              type: integer
            credits_remaining:
              type: integer
    ForgeRun:
      type: object
      required:
      - tool
      - input
      properties:
        tool:
          type: string
          enum:
          - clean_json
          - dedupe_records
          - normalize_entity
          - score_data_quality
          - detect_anomaly
        input: {}
        options:
          type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hm_forge_*
x-refined-from:
- humanmirror-fr-forge-openapi.json
- humanmirror-fr-forge-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
