openapi: 3.2.0
info:
  title: HumanMirror Physical Oracle API
  version: 1.0.0-beta
  description: Non-custodial A2H field verification for autonomous agents and businesses.
servers:
- url: https://humanmirror.fr
tags:
- name: Physical Oracle
paths:
  /api/physical-oracle/:
    get:
      summary: Discover Physical Oracle
      responses:
        '200':
          description: Discovery
      tags:
      - Physical Oracle
      operationId: getApiPhysicalOracle
      x-operation-id-source: derived
  /api/physical-oracle/quote/:
    post:
      summary: Quote a public physical verification mission
      responses:
        '200':
          description: Quote and observed field supply
        '422':
          description: Unsafe or invalid mission
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleQuote
      x-operation-id-source: derived
  /api/physical-oracle/missions/:
    post:
      summary: Create a mission
      responses:
        '201':
          description: Mission created; buyer key returned once
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleMissions
      x-operation-id-source: derived
    get:
      summary: Read buyer mission state
      responses:
        '200':
          description: Mission state
      tags:
      - Physical Oracle
      operationId: getApiPhysicalOracleMissions
      x-operation-id-source: derived
  /api/physical-oracle/workers/register/:
    post:
      summary: Register a field executor
      responses:
        '201':
          description: Field key returned once
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleWorkersRegister
      x-operation-id-source: derived
  /api/physical-oracle/workers/snapshot/:
    get:
      summary: List compatible missions for a field executor
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Worker profile and missions
      tags:
      - Physical Oracle
      operationId: getApiPhysicalOracleWorkersSnapshot
      x-operation-id-source: derived
  /api/physical-oracle/claim/:
    post:
      summary: Claim one mission for 20 minutes
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Mission and one-time claim nonce
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleClaim
      x-operation-id-source: derived
  /api/physical-oracle/submit/:
    post:
      summary: Submit bounded photo evidence
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Proof submitted
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleSubmit
      x-operation-id-source: derived
  /api/physical-oracle/verify/:
    post:
      summary: Buyer accepts or rejects submitted evidence
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Decision and signed physical receipt
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleVerify
      x-operation-id-source: derived
  /api/physical-oracle/commission/:
    post:
      summary: Pay accepted-mission HumanMirror commission over x402
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Commission settled
        '402':
          description: x402 payment required
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOracleCommission
      x-operation-id-source: derived
  /api/physical-oracle/payout-confirm/:
    post:
      summary: Verify direct Base USDC payout to field executor
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Mission settled
      tags:
      - Physical Oracle
      operationId: postApiPhysicalOraclePayoutConfirm
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-humanmirror:
  protocol: humanmirror-physical-oracle/1
  custody: non_custodial
  worker_percent: 80
  platform_percent: 20
  network: eip155:8453
  asset: USDC
