openapi: 3.2.0
info:
  title: HumanMirror OS Agent API
  version: 1.0.0
  description: Machine-native Proof-of-State and exact SHA-256 state-continuity verification with scoped trust/automation signals. Paid execution uses x402 V2 with USDC on Base mainnet.
servers:
- url: https://humanmirror.fr
tags:
- name: Agent
paths:
  /api/v1/agent/state-and-trust/:
    post:
      summary: Sign agent state and verify exact continuity
      operationId: validateStateAndTrust
      description: Signs a caller-supplied SHA-256 state, compares it with an optional previous SHA-256 state hash for exact continuity, and issues a scoped trust/automation signal. This endpoint does not claim semantic-vector distance, persistent reputation history, MEV protection, or unmeasured efficiency gains.
      x-humanmirror-price-usdc: '0.050'
      x-humanmirror-protocol: x402-humanmirror-v1
      x-x402:
        version: 2
        scheme: exact
        network: eip155:8453
        asset: '0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913'
        payTo: '0x48096526488f2D51df6bcA1B1f3A3639986cc3dD'
        amount: '50000'
        requestHeader: PAYMENT-SIGNATURE
        challengeHeader: PAYMENT-REQUIRED
        settlementHeader: PAYMENT-RESPONSE
      parameters:
      - name: PAYMENT-SIGNATURE
        in: header
        required: false
        schema:
          type: string
        description: x402 v2 signed payment payload. Omit to receive an HTTP 402 challenge unless Pro/Enterprise access applies.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_id
              - current_state_hash
              properties:
                agent_id:
                  type: string
                  minLength: 1
                  maxLength: 160
                  examples:
                  - agent_example
                current_state_hash:
                  type: string
                  pattern: ^(0x)?[0-9a-fA-F]{64}$
                previous_vector:
                  type: string
                  pattern: ^(0x)?[0-9a-fA-F]{64}$
              additionalProperties: false
      responses:
        '200':
          description: Signed state proof and scoped trust signal after authorized access/payment.
        '400':
          description: Invalid state input.
        '402':
          description: Payment Required — 0.050 USDC on Base mainnet.
          headers:
            PAYMENT-REQUIRED:
              schema:
                type: string
              description: Base64-encoded x402 v2 payment requirements.
        '503':
          description: x402 runtime or facilitator unavailable.
      tags:
      - Agent
externalDocs:
  description: HumanMirror Agent OS discovery manifest
  url: https://humanmirror.fr/.well-known/agent-os.json
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
