openapi: 3.2.0
info:
  title: Humanmirror Fr Nexus API
  version: 1.3.1
  description: 'Operations tagged Nexus across 2 of this provider''s published API definitions: humanmirror-fr-nexus-openapi.json, humanmirror-fr-nexus-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Nexus
paths:
  /api/nexus:
    get:
      summary: Get Nexus metadata, catalog and optional account balance
      security:
      - {}
      - BearerAuth: []
      responses:
        '200':
          description: Nexus service metadata
      tags:
      - Nexus
      operationId: getApiNexus
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/nexus/search:
    get:
      summary: Search Nexus catalog
      parameters:
      - name: q
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Matching tools
      tags:
      - Nexus
      operationId: getApiNexusSearch
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/nexus/trial:
    post:
      summary: Create a 100-credit Nexus trial key
      responses:
        '201':
          description: Trial key created
        '409':
          description: Trial already used
      tags:
      - Nexus
      operationId: postApiNexusTrial
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/nexus/checkout:
    post:
      summary: Create a LIVE Stripe Checkout session for the existing 5000-credit Nexus pack
      responses:
        '200':
          description: Checkout URL returned
        '403':
          description: Origin not allowed
        '503':
          description: LIVE checkout unavailable
      tags:
      - Nexus
      operationId: postApiNexusCheckout
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/nexus/claim:
    post:
      summary: Claim Nexus credits after successful payment
      responses:
        '200':
          description: Credits claimed or existing claim returned
        '400':
          description: Invalid or unpaid checkout session
      tags:
      - Nexus
      operationId: postApiNexusClaim
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/nexus/call:
    post:
      summary: Route a Nexus tool call
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tool_id
              - input
              properties:
                tool_id:
                  type: string
                input: {}
                options:
                  type: object
      responses:
        '200':
          description: Routed tool result
        '401':
          description: Invalid API key
        '402':
          description: Insufficient credits
        '404':
          description: Unknown tool
        '429':
          description: Rate limited
      tags:
      - Nexus
      operationId: postApiNexusCall
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: hm_nexus_*
x-refined-from:
- humanmirror-fr-nexus-openapi.json
- humanmirror-fr-nexus-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
