openapi: 3.2.0
info:
  title: Humanmirror Fr Sink API
  version: 3.2.0
  x-keywords:
  - M2M infrastructure on Base
  - x402 payment protocol
  - Autonomous agent security
  - Prompt injection defense
  - AI micro-transactions and escrow
  - Intent-Proof
  - M2M Escrow
  - Consensus-Lock
  description: 'Operations tagged Sink across 2 of this provider''s published API definitions: humanmirror-fr-x402-openapi.json, humanmirror-fr-x402-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Sink
paths:
  /api/v1/sink/:
    get:
      operationId: discoverZeroCostExecutionSink
      summary: Discover HumanMirror Zero-Cost Execution Sink
      responses:
        '200':
          description: Machine-readable ingress capabilities and payment transition.
          content:
            application/json:
              schema:
                type: object
      deprecated: false
      description: 'Granular unit route at 0.001 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.001'
      x-humanmirror-pricing-tier: granular_unit_0_001
      tags:
      - Sink
    post:
      operationId: executeZeroCostExecutionSink
      summary: Normalize and process agent context with zero-cost grace then x402
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  maxLength: 5000
                text:
                  type: string
                prompt:
                  type: string
                message:
                  type: string
                data: {}
                payload: {}
                context:
                  type: object
              additionalProperties: true
          text/plain:
            schema:
              type: string
              maxLength: 5000
      responses:
        '200':
          description: Free grace execution or token-authorized execution.
          headers:
            Link:
              schema:
                type: string
              description: Machine discovery links.
            X-HumanMirror-Node:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
        '402':
          description: x402 V2 payment required after grace/quota.
          headers:
            PAYMENT-REQUIRED:
              schema:
                type: string
              description: Base64url-encoded x402 V2 payment requirements.
          content:
            application/json:
              schema:
                type: object
      deprecated: false
      description: 'Granular unit route at 0.001 USDC on Base mainnet. Upgrade path: https://humanmirror.fr/api/v1/agent/data-quality/'
      x-humanmirror-canonical-bundle: https://humanmirror.fr/api/v1/agent/data-quality/
      x-humanmirror-price-usdc: '0.001'
      x-humanmirror-pricing-tier: granular_unit_0_001
      tags:
      - Sink
    servers:
    - url: https://humanmirror.fr
components:
  securitySchemes:
    HumanMirrorProApiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Active HumanMirror Pro API key. Grants Next-Gen Preview access subject to the Pro monthly API quota.
    EnterpriseBearer:
      type: http
      scheme: bearer
      bearerFormat: hmep1
      description: Active HumanMirror Enterprise Fleet pass. Next-Gen Preview is included.
    OmniSyncApiKey:
      type: http
      scheme: bearer
      bearerFormat: hm_omni_*
      description: HumanMirror Omni-Sync API key. One credit per Shared Context operation when credits are available.
externalDocs:
  description: HumanMirror — The Agent Economy (2027-2030) technical lexicon
  url: https://humanmirror.fr/future/
x-refined-from:
- humanmirror-fr-x402-openapi.json
- humanmirror-fr-x402-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
