openapi: 3.2.0
info:
  title: Humanmirror Fr Oracle API
  version: '2026-08-30'
  description: 'Operations tagged Oracle across 2 of this provider''s published API definitions: humanmirror-fr-oracle-openapi.json, humanmirror-fr-oracle-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Oracle
paths:
  /api/oracle:
    get:
      operationId: getOracleStatus
      summary: Informations publiques ou solde de crédits si authentifié
      security:
      - {}
      - ApiKeyBearer: []
      responses:
        '200':
          description: Service disponible
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
      - Oracle
    servers:
    - url: https://humanmirror.fr
  /api/oracle/analyze:
    post:
      operationId: analyzeWithHumanMirrorOracle
      summary: Analyser des données avec HumanMirror Oracle
      security:
      - ApiKeyBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input: {}
                objective:
                  type: string
                context:
                  type: string
              required:
              - input
              additionalProperties: false
      responses:
        '200':
          description: Analyse réussie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeSuccess'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '413':
          description: Entrée trop volumineuse
        '429':
          description: Limite anti-abus atteinte
        '503':
          description: Service temporairement indisponible
      tags:
      - Oracle
    servers:
    - url: https://humanmirror.fr
components:
  responses:
    BadRequest:
      description: Requête invalide
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Clé API invalide
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PaymentRequired:
      description: Crédits insuffisants
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - ok
      - version
      - error
      properties:
        ok:
          const: false
        version:
          type: string
        request_id:
          type:
          - string
          - 'null'
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
    AnalyzeSuccess:
      type: object
      required:
      - ok
      - version
      - request_id
      - result
      - usage
      properties:
        ok:
          const: true
        version:
          type: string
        request_id:
          type: string
        result:
          type: object
        usage:
          type: object
          properties:
            credits_used:
              type: integer
            credits_remaining:
              type: integer
          required:
          - credits_used
          - credits_remaining
  securitySchemes:
    ApiKeyBearer:
      type: http
      scheme: bearer
      bearerFormat: hm_oracle_…
x-refined-from:
- humanmirror-fr-oracle-openapi.json
- humanmirror-fr-oracle-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
