openapi: 3.2.0
info:
  title: Humanmirror Fr Magnet API
  version: 1.0.0
  description: 'Operations tagged Magnet across 2 of this provider''s published API definitions: humanmirror-fr-magnet-openapi.json, humanmirror-fr-magnet-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://humanmirror.fr
tags:
- name: Magnet
paths:
  /api/magnet/resolve:
    get:
      summary: Resolve a capability or record a gap
      parameters:
      - name: q
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Resolved capability or capability gap
        '429':
          description: Rate limited
      tags:
      - Magnet
      operationId: getApiMagnetResolve
      x-operation-id-source: derived
    post:
      summary: Resolve a capability or record a gap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
      responses:
        '200':
          description: Resolved capability or capability gap
        '429':
          description: Rate limited
      tags:
      - Magnet
      operationId: postApiMagnetResolve
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/magnet/hot:
    get:
      summary: Get aggregated public capability gaps
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
      responses:
        '200':
          description: Machine Demand Graph
      tags:
      - Magnet
      operationId: getApiMagnetHot
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
  /api/magnet/gap:
    get:
      summary: Get public status for a Magnet capability gap
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Gap status
        '404':
          description: Gap not found
      tags:
      - Magnet
      operationId: getApiMagnetGap
      x-operation-id-source: derived
    servers:
    - url: https://humanmirror.fr
x-refined-from:
- humanmirror-fr-magnet-openapi.json
- humanmirror-fr-magnet-openapi.yml
x-humanmirror-discovery:
  agent_os: https://humanmirror.fr/.well-known/agent-os.json
  agent: https://humanmirror.fr/.well-known/agent.json
  a2a: https://humanmirror.fr/.well-known/agent-card.json
  x402: https://humanmirror.fr/.well-known/x402.json
  catalog: https://humanmirror.fr/x402/catalog.json
  mcp: https://humanmirror.fr/api/x402/mcp/
  schema: https://humanmirror.fr/schemas/agent-os-v1.json
  value_protocol: https://humanmirror.fr/.well-known/value-protocol.json
